/.amo-upload-uuid
/.web-extension-id
/chromium*
/dist/
/docs/_site
/docs/bookmarklet/
/docs/eventuate.bookmarklet.js
/docs/eventuate.user.js
/eventuate*
/node_modules
/target
/web-ext-artifacts
/lighthouse-report.json
