body {
  font-family: "Atkinson Hyperlegible", Verdana, serif;
}

ul {
  list-style-type: none;
}

ul.badges {
  list-style-type: none;
  padding-left: 0;
}

ul.badges li {
  display: inline-block;
  margin-right: 10px;
  list-style-type: none;
}

li {
  margin-right: 10px;
}

a {
  text-decoration: none;
}

.bookmarklet {
  background: #f0f0f0;
  padding: 1em;
  border-radius: 4px;
}

.warning {
  color: #d43;
}

p img {
  max-width: 100%;
  height: auto;
  width: 800px;
}